

<div class="login">
    <h1>Log-in</h1>
    <form name="LoginForm" novalidate ng-submit="vm.login()">
        <input style="margin:10px" type="text" name="user" placeholder="Username" ng-model="vm.username" /><br />
        <input style="margin:10px"type="password" name="password" placeholder="Password" ng-model="vm.password" /><br />
        <input style="margin:10px"type="submit" name="login" class="login login-submit" value="login" />
    </form>
</div>
<div class="registration">
    <h1>Registration</h1>
    <form id="addUser" name="RegistrationForm" novalidate ng-submit="vm.registration()">
        <input style="margin:10px" type="email" name="Email" placeholder="Email" ng-model="vm.newUser.email" /><br />
        <input style="margin:10px"type="text" name="User" placeholder="Username" ng-model="vm.newUser.username" /><br />
        <input style="margin:10px"type="password" name="Password" placeholder="Password" ng-model="vm.newUser.password" /><br />
        <input style="margin:10px"type="password" name="ConfirmPassword" placeholder="Verify Password" ng-model="vm.newUser.confirmPassword" /><br />
        <input style="margin:10px"type="submit" name="registration" class="registration registration-submit" value="registration" />
    </form>
</div>


